:root {
  --red-800: #991b1b;
}

.ch-scrollycoding {
  gap: 1.5rem;
}
/*.ch-editor-frame,*/
/*.ch-frame-title-bar,*/
/*.ch-code-wrapper {*/
/*  @apply bg-transparent !important;*/
/*}*/

.ch-code-scroll-parent {
  word-spacing: -1px;
}

.ch-scrollycoding-sticker {
  flex: 1;
  font-variant-ligatures: none;
}

.ch-scrollycoding-content {
  min-width: 50%;
}

.ch-scrollycoding-step-content {
  min-height: min-content !important;
  cursor: pointer;
}

/*.ch-codegroup {*/
/*  @apply backdrop-blur;*/
/*  box-shadow: none;*/
/*}*/

/*.ch-frame-button {*/
/*  background: transparent !important;*/
/*  @apply border-zinc-800;*/
/*}*/

/*.ch-codegroup .ch-code-button {*/
/*  display: none;*/
/*}*/

/*.ch-codegroup:hover .ch-code-button {*/
/*  display: block;*/
/*}*/

.ch-scrollycoding-step-content[data-selected] {
  border-color: transparent;
  @apply border-zinc-400;
  @apply border-opacity-30;
  @apply rounded-lg;
  @apply border;
}
