:root {
  --red-800: #991b1b;
}

.ch-scrollycoding {
  gap: 1.5rem;
}

.ch-code-scroll-parent {
  word-spacing: -1px;
}

.ch-scrollycoding-sticker {
  flex: 1;
}

.ch-scrollycoding-content {
  min-width: 50%;
}

.ch-scrollycoding-step-content {
  min-height: min-content !important;
  cursor: pointer;
}

.ch-codegroup {
  max-height: none !important;
}

.ch-scrollycoding-step-content[data-selected] {
  border-color: transparent;
  @apply border-zinc-400;
  @apply border-opacity-30;
  @apply rounded-lg;
  @apply border;
}
