@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import '@code-hike/mdx/dist/index.css';
@import 'codehike-custom.css';
@import 'tailwindcss/utilities';

@layer components {
  .webkit-center {
    text-align: -webkit-center;
  }
}

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/iosevka-medium.ttc');
}

@font-face {
  font-family: 'Uber Move Regular';
  src: url('/fonts/UberMove-Regular.ttf');
}

@layer base {
  code {
    word-spacing: -2px;
  }
}
